<div class="bhoechie-tab-content">
        <center>
          <h1 class="glyphicon glyphicon-asterisk" style="font-size:12em;color:#55518a"></h1>
          <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
          <h3 style="margin-top: 0;color:#55518a">Badges</h3>
        </center>
</div>