<div class="bhoechie-tab-content">
    <div class="row">
          	<div class="col-md-8">
          		<div class="panel panel-default">
          			<div class="panel-heading">
          			Create your Snip
          			</div>
          			<div class="panel-body">
          				<%=render "layouts/form"%>
          			</div>
          		</div>
          	</div>
          	<div class="col-md-4">
          		<div class="panel panel-default">
          			<div class="panel-heading">
          				Freshly Baked
          			</div>
          			<div class="panel-body" style="height:595px">
          			<%=render "layouts/freshlyBaked"%>
          			</div>
      		</div>
    	</div>
	</div>
</div>